<div class="container">


  <div class="row">
    <div class="col">
      <h1 class="text-center my-5">kenny list</h1>
    </div>
  </div>
  <div class="row">
    <div class="input-group mb-3">
      <input [(ngModel)]="todoInput" type="text" class="form-control" (keyup.enter)="createTodo()" placeholder="What you have to today?"
        aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary bg-info" type="button" (click)="createTodo()">ADD</button>
      </div>
    </div>
    <div class="row">
      <div class="col text-right mb-4">
        <button class="btn btn-red " (click)="deleteAll()">Remove alll</button>
      </div>
    </div>


    <table class="table table-dark">

      <tbody>
        <tr *ngFor=" let todo of todos">
          <td>
            <input class="checkBox" type="checkbox" [(ngModel)]="todo.isChecked"></td>
          <td>
            <span [ngClass]="{'strike': todo.isChecked}"> {{todo.name}} </span>
          </td>
          <td class="text-right">
            <button (click)="editTodo(todo)" class="btn mr-3">Edit</button>
            <button class="btn btn-danger " (click)="deleteTodo(todo)">delete</button>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>